@model CSSEntity.Employee
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_layout_for_driver.cshtml";
}

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/Scripts/jquery-ui-1.8.9.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/myScript.js"></script>
</head>
<br />
<form method="post">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT PROFILE (@Model.Id)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    @*<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/img/DSC_1658.jpg" class="img-circle img-responsive"> </div>*@
                    <div class=" col-md-9 col-lg-9 ">
                        <table width="50%" cellpadding="0" cellspacing="0" class="table table-condensed">
                            <tr>
                                <td width="20%"><b>User Information</b></td>
                                <td width="1%"></td>
                                <td width="29%"></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                            <tr>
                                <td valign="top">Date of Birth</td>
                                <td valign="top">:</td>
                                <td>
                                    <input name="Birthday" type="text" id="Bdatepicker" value="@Model.Birthday">
                                    <font size="2"><i>(mm/dd/yyyy)</i></font>
                                </td>
                            </tr>
                            <tr>
                                <td>National Id</td>
                                <td>:</td>
                                <td>@Html.EditorFor(model => model.NationalId, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                            <tr>
                                <td width="20%"><b>Contact Information</b></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="top">Email</td>
                                <td valign="top">:</td>
                                <td>
                                    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">Phone</td>
                                <td valign="top">:</td>
                                <td>@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                            <tr>
                                <td valign="top">Address</td>
                                <td valign="top">:</td>
                                <td>@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                            @*<tr>
                                    <td width="150"><b>Offical Information</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td valign="top">Join Date</td>
                                    <td valign="top">:</td>
                                    <td>
                                        @Model.JoinDate
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">Position</td>
                                    <td valign="top">:</td>
                                    <td>@Model.Position</td>
                                </tr>
                                <tr>
                                    <td valign="top">Salary</td>
                                    <td valign="top">:</td>
                                    <td>@Model.Salary</td>
                                </tr>
                                <tr>
                                    <td valign="top">Office Id</td>
                                    <td valign="top">:</td>
                                    <td>@Html.DisplayFor(model => model.OfficeId, new { htmlAttributes = new { @class = "form-control" } })</td>
                                </tr>*@
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Update" class="btn btn-primary">
                <a href="@Url.Action("Dashboard", "Driver")"><input type="button" value="Cancel" class="btn btn-warning"></a>
                <span class="text-success">@TempData["Reply"]</span>
            </div>
        </div>
    </div>
</form>
