<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<table width="100%" cellspacing="0" cellpadding="10" border="1" class="table-responsive">
    <tr>
        <td colspan="2" valign="middle" height="70">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Courier Service System</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="@Url.Action("Dashboard", "Employee")"> DashBoard </a>&nbsp;</li>
                        <li><a href="@Url.Action("Employees", "Employee", new { id = "All"})">Employees</a>&nbsp;</li>
                        <li><a href="@Url.Action("Products", "Product")"> Products </a>&nbsp;</li>
                        <li><a href="@Url.Action("Index", "Office")"> Offices </a>&nbsp;</li>
                        <li><a href="@Url.Action("AllVehicle", "Vehicle")"> Vehicles </a>&nbsp;</li>
                        <li><a href="@Url.Action("Trips", "Trip")"> Trips </a>&nbsp;</li>
                        <li><a href="@Url.Action("MailBox", "SendMailer")"> Mail </a>&nbsp;</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("ViewProfile", "Employee", new { id = Session["Id"]})"><span class="glyphicon glyphicon-user"></span>&nbsp;@Session["uname"]</a></li>
                        <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
        </td>
    </tr>
    <tr>
        <td width="200" valign="top">
            <b>&nbsp;All Product</b><hr />
            <ul>
                <li><a href="@Url.Action("Products", "Product")">On Way Products</a></li>
                <li><a href="@Url.Action("ReceivedProduct", "Product")">Received Products</a></li>
                <li><a href="@Url.Action("DeliveredProduct", "Product")">Delivered Products</a></li>
            </ul>
            <hr />
            <b>&nbsp; Customer Service</b><hr />
            <ul>
                <li><a href="@Url.Action("TakeOder","Product")">Take Oder From Customer</a></li>
                <li><a href="@Url.Action("OderDelivery","Product")">Delivery Product To Customer</a></li>
            </ul>
            <hr />
            <b>&nbsp; Official Service</b><hr />
            <ul>
                <li><a href="@Url.Action("ReceiveProduct", "Product")">Receive Products From Vehice</a></li>
            </ul>
            <hr />
            <b>&nbsp;Product Types</b><hr />
            <ul>
                <li><a href="@Url.Action("AllTypes","Product")">Show All Types</a></li>
            </ul>
        </td>
        <td valign="top">

            @RenderBody();

        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Copyright &copy; @DateTime.Now.Year
        </td>
    </tr>
</table>