@model IEnumerable<CSSEntity.ProductType>

@{
    ViewBag.Title = "AllTypes";
    Layout = "~/Views/Shared/_layout_for_products.cshtml";
}

<h2>All Types</h2>
<hr />
<p>
    @Html.ActionLink("Add New Type", "AddNewType")
</p>
<hr />
<h4 style="color:forestgreen">@TempData["TypeText"]</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipmentCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipmentCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
