@model CSSEntity.Product

@{
    ViewBag.Title = "TakeShipmentCost";
    Layout = "~/Views/Shared/_layout_for_products.cshtml";
}

<h2>Shipment Cost</h2>
<h4 style="color:red">@TempData["InvalidMoney"]</h4>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Session["CustomerId"], new { htmlAttributes = new { @class = "form-control" ,@Value = Session["CustomerId"] ,@Readonly = "readonly"} })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Session["ProductId"], new { htmlAttributes = new { @class = "form-control", @Value = Session["ProductId"], @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SendingCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => Session["ShipmentCost"], new { htmlAttributes = new { @class = "form-control", @Value = Session["ShipmentCost"], @Readonly = "readonly" } })*@
                <input type="number" class = "form-control" name="ShipmentCost" value="@Session["ShipmentCost"]" readonly/>
                @Html.ValidationMessageFor(model => model.SendingCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GivenMoney, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GivenMoney, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
                @Html.ValidationMessageFor(model => model.GivenMoney, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}