@model IEnumerable<CSSEntity.Employee>

@{
    Layout = "~/Views/Shared/_layout_for_offices.cshtml";
}

<h2>@Session["officeDivision"]</h2>
<h4>Office : @Session["officeId"]</h4>
<p>
    @Html.ActionLink("Add New Employee", "AddNewEmployee")
</p>
<hr />
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmployee", new { id=item.Id }) |
            @Html.ActionLink("Details", "EmployeeDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteEmployee", new { id=item.Id })
        </td>
    </tr>
}

</table>
